header {
    
 
    border: 2px dashed rgb(14, 119, 255); 
    padding-left: 80px; 
    width: auto; 
    font-size: 3rem; 
    box-sizing: border-box;
}

body{
    padding:10%;
    font-size: 2rem;
}

input, button{
    font: inherit;
}

p{
    text-decoration: underline ;
    text-align: justify;
    text-indent: 2em;
    line-height: 1.4;
    letter-spacing: 0.1em;
    word-spacing: 2px;
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif;
}


a{
text-decoration: overline ;
cursor: pointer;
color: blueviolet;
background: gray;
}

a:visited{

color: aqua;
}

a:visited:hover{
    color:rgb(211, 172, 113)
}

a:active{
    color: yellow;
}